.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

/* Avoid extra padding on the first item only */
.container:not(:first-child) {
  padding: 1rem 0;
}

.sectionContent {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.links {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.1rem;
  color: var(--color-text-primary);
  text-decoration: none;
  transition: color 0.3s ease;
}

.educationItem:not(:last-child) {
  padding-bottom: 1rem;
}

.link svg,
.sectionContent ul a svg {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}
