@import '../Button/Button.module.css';

.tabNav {
    display: flex;
    border-bottom: 2px solid var(--color-shadow);
    gap: 0;
}

.tabButton {
    composes: buttonBody from '../Button/Button.module.css';
    position: relative;
    border: none;
    border-bottom: 2px solid transparent;
    background: transparent;
    box-shadow: none;
    margin: 0;
    border-radius: 0;
    transition: border-color 0.2s, color 0.2s;
    text-decoration: none; /* Add this to remove underline from links */
}

.tabButton:not(:last-child)::after {
    content: '';
    position: absolute;
    right: 0;
    top: 25%;
    height: 50%;
    width: 1px;
    background: var(--color-shadow);
}

.active {
    border-bottom: 2px solid var(--color-text-primary);
    font-weight: bold;
}