.headerBarBody {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: var(--layout-padding);
  margin-top: 1rem;
}

/* Define the container for the title and switcher */
.topSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.headerTitle {
  font-size: 2rem;
}

.switchers {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;
}

.desktopAnimatedLines {
  display: none;
}

/* Media query for desktop layout */
@media (min-width: 768px) {
  .topSection {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .topSection > :nth-child(2) {
    display: none;
  }
  .desktopAnimatedLines {
    display: block;
  }
  .switchers {
    margin-top: 0; /* Remove vertical spacing on desktop for tighter layout */
  }
}
