.projectList {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.listLinks {
  display: flex;
  gap: 5px;
}

.listLinks a svg {
  width: 12px;
  height: 12px;
  flex-shrink: 0;
}

@media (min-width: 900px) {
  .projectList {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: start;
  }
}
