.button {
  background-color: transparent;
  color: var(--color-text-primary);
  cursor: pointer;
  padding: 0rem;
  height: auto;
}

.button svg {
  vertical-align: middle;
  position: relative;
  top: -3px; /* Move icon upward for alignment */
}
